.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.md-typeset .admonition,
.md-typeset details {
  border-width: 0;
  border-left-width: 4px;
}

.md-typeset figure {
    clear: both;
    margin: 4em 0;
}

:root {
  --md-admonition-icon--printer-3d-nozzle: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7 2h10v6h2v5h-2.5L13 17h-2l-3.5-4H5V8h2zm3 20H2v-2h8a1 1 0 0 0 1-1v-1h2v1a3 3 0 0 1-3 3"/></svg>')
}
.md-typeset .admonition.printer-3d-nozzle,
.md-typeset details.printer-3d-nozzle {
  border-color: rgb(0, 102, 102);
}
.md-typeset .printer-3d-nozzle > .admonition-title,
.md-typeset .printer-3d-nozzle > summary {
  background-color: rgba(0, 102, 102, 0.1);
}
.md-typeset .printer-3d-nozzle > .admonition-title::before,
.md-typeset .printer-3d-nozzle > summary::before {
  background-color: rgb(0, 102, 102);
  -webkit-mask-image: var(--md-admonition-icon--printer-3d-nozzle);
          mask-image: var(--md-admonition-icon--printer-3d-nozzle);
}

:root {
  --md-admonition-icon--table: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M5 4h14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2m0 4v4h6V8zm8 0v4h6V8zm-8 6v4h6v-4zm8 0v4h6v-4z"/></svg>')
}
.md-typeset .admonition.table,
.md-typeset details.table {
  border-color: rgb(25, 51, 0);
}
.md-typeset .table > .admonition-title,
.md-typeset .table > summary {
  background-color: rgba(25, 51, 0, 0.1);
}
.md-typeset .table > .admonition-title::before,
.md-typeset .table > summary::before {
  background-color: rgb(25, 51, 0);
  -webkit-mask-image: var(--md-admonition-icon--table);
          mask-image: var(--md-admonition-icon--table);
}

:root {
  --md-admonition-icon--printer-3d: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19 6a1 1 0 0 0 1-1 1 1 0 0 0-1-1 1 1 0 0 0-1 1 1 1 0 0 0 1 1m0-4a3 3 0 0 1 3 3v6h-4V7H6v4H2V5a3 3 0 0 1 3-3zm-1 16.25c0 .38-.21.71-.53.88l-4.9 2.69q-.255.18-.57.18c-.21 0-.41-.06-.57-.18l-4.9-2.69a.99.99 0 0 1-.53-.88V13c0-.38.21-.71.53-.88l4.9-2.44c.16-.12.36-.18.57-.18q.315 0 .57.18l4.9 2.44c.32.17.53.5.53.88zm-6-6.6L9.04 13 12 14.6l2.96-1.6zm-4 6.01 3 1.63v-2.96l-3-1.62zm8 0v-2.95l-3 1.62v2.96z"/></svg>')
}
.md-typeset .admonition.printer-3d,
.md-typeset details.printer-3d {
  border-color: rgb(64, 64, 64);
}
.md-typeset .printer-3d > .admonition-title,
.md-typeset .printer-3d > summary {
  background-color: rgba(64, 64, 64, 0.1);
}
.md-typeset .printer-3d > .admonition-title::before,
.md-typeset .printer-3d > summary::before {
  background-color: rgb(64, 64, 64);
  -webkit-mask-image: var(--md-admonition-icon--printer-3d);
          mask-image: var(--md-admonition-icon--printer-3d);
}

:root {
  --md-admonition-icon--list: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Free 7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2025 Fonticons, Inc.--><path d="M40 48c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h48c13.3 0 24-10.7 24-24V72c0-13.3-10.7-24-24-24zm152 16c-17.7 0-32 14.3-32 32s14.3 32 32 32h288c17.7 0 32-14.3 32-32s-14.3-32-32-32zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32h288c17.7 0 32-14.3 32-32s-14.3-32-32-32zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32h288c17.7 0 32-14.3 32-32s-14.3-32-32-32zM16 232v48c0 13.3 10.7 24 24 24h48c13.3 0 24-10.7 24-24v-48c0-13.3-10.7-24-24-24H40c-13.3 0-24 10.7-24 24m24 136c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h48c13.3 0 24-10.7 24-24v-48c0-13.3-10.7-24-24-24z"/></svg>')
}
.md-typeset .admonition.list,
.md-typeset details.list {
  border-color: rgb(70,130,180);
}
.md-typeset .list > .admonition-title,
.md-typeset .list > summary {
  background-color: rgba(70,130,180, 0.1);
}
.md-typeset .list > .admonition-title::before,
.md-typeset .list > summary::before {
  background-color: rgb(70,130,180);
  -webkit-mask-image: var(--md-admonition-icon--list);
          mask-image: var(--md-admonition-icon--list);
}
