.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.md-typeset .admonition,
.md-typeset details {
  border-width: 0;
  border-left-width: 4px;
}

:root {
  --md-admonition-icon--printer-3d-nozzle: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7 2h10v6h2v5h-2.5L13 17h-2l-3.5-4H5V8h2zm3 20H2v-2h8a1 1 0 0 0 1-1v-1h2v1a3 3 0 0 1-3 3"/></svg>')
}
.md-typeset .admonition.printer-3d-nozzle,
.md-typeset details.printer-3d-nozzle {
  border-color: rgb(0, 102, 102);
}
.md-typeset .printer-3d-nozzle > .admonition-title,
.md-typeset .printer-3d-nozzle > summary {
  background-color: rgba(0, 102, 102, 0.1);
}
.md-typeset .printer-3d-nozzle > .admonition-title::before,
.md-typeset .printer-3d-nozzle > summary::before {
  background-color: rgb(0, 102, 102);
  -webkit-mask-image: var(--md-admonition-icon--printer-3d-nozzle);
          mask-image: var(--md-admonition-icon--printer-3d-nozzle);
}

:root {
  --md-admonition-icon--table: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M5 4h14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2m0 4v4h6V8zm8 0v4h6V8zm-8 6v4h6v-4zm8 0v4h6v-4z"/></svg>')
}
.md-typeset .admonition.table,
.md-typeset details.table {
  border-color: rgb(25, 51, 0);
}
.md-typeset .table > .admonition-title,
.md-typeset .table > summary {
  background-color: rgba(25, 51, 0, 0.1);
}
.md-typeset .table > .admonition-title::before,
.md-typeset .table > summary::before {
  background-color: rgb(25, 51, 0);
  -webkit-mask-image: var(--md-admonition-icon--table);
          mask-image: var(--md-admonition-icon--table);
}

